@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-noto-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Noto Serif */
.font-serif-custom {
  font-family: var(--font-noto-serif);
}

/* Noto Serif Display */
.font-display-custom {
  font-family: var(--font-noto-serif-display);
}

.light {
  --color-bg: #eeeae8;
  --color-bg-secondary: #fffcfa;
  --color-text: #1d150f;
  --color-text-secondary: #313840;
  --color-card-bg: #ffffff;
  --color-text-light: #ffffff;
  --color-chip: #f2f0ed;
  --color-accent-primary: #e4e0dd;
}

.dark {
  --color-bg: #1c1a19;
  --color-bg-secondary: #242221;
  --color-text: #e4e0dd;
  --color-text-secondary: #cfc7c2;
  --color-card-bg: #242221;
  --color-text-light: #ffffff;
  --color-chip: #2d2a29;
  --color-accent-primary: #4a433e;
}
